
body{
    background-color: #FE6B01;
    color: #A19D9D;
}
.ern-head{
    font-family: 'Rotunda';
    color: #FFF;
    font-weight: 400;
    font-size: 34px;
    line-height: 39px;
}
.earn .contain{
    border-radius: 20px;
    background-color: #fff;
    color: #FE6B01;
 
}

.earn-col{
    border-right: 1px solid #707070;
    
}
.earn .col a{ 
    color: #9E9C9C !important;
    font-family: 'Rotunda';
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
}
.earn .col a:hover{
    color: #FE6B01 !important;
}
.earn .col a.active{
    color: #FE6B01 !important;
}
.contain{
    background-color:#fff;
    border-radius: 10px;
    padding: 50px;
}

.contain .card {
    border: 0px solid #e2e2e2;
}
.tbl table tr td,.tbl table tr th{
    padding: 10px 20px;
} 
.tbl table {
    border-radius: 10px;
    background-color: #FFF;
} 
.overview{
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    color: #747475;
}
.chart-day-select{
    border: 0 !important;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    color: #747475;
}
.input-group {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 50%;
}
.input-group-addon {
    /* margin-top: 10px; */
    /* margin-left: 20px !important; */
    margin: 0px !important;
    background: gray;
    color: #fff;
    padding: 5px 10px;
    font-size: 16px;
    line-height: 28px;
}